
h1 {
    margin: 8px;
    font-size: 18px;
}

@media (max-width: 320px) { 
    div.content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        display: block;
        margin: 8px;
        max-width:300px;
        max-height:300px;
        width: auto;
        height: auto;
        object-fit: contain;
    }
    .textual {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .price {
    }
    .description {
        padding: 0 8px;
    }
}

@media (min-width: 321px) { 
    div.content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    img {
        display: block;
        margin: 8px;
        margin-right: 16px;
        max-width:40%;
        max-height:300px;
        width: auto;
        height: auto;
        object-fit: contain;
    }
    .textual {
        flex: 1 1 33%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .description {
        padding-right: 8px;
    }
}

.button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 177px;
    height: 47px;
    color: #111;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-color: #a88734 #9c7e31 #846a29;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 16px;
}
.price {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 15px;
}

.description {
    font-size: 13px;
}

h2 {
    margin: 0 8px;
}

.unix_review_time {
    font-size: 12px;
}

.content .overall {
    color: #0066C0 !important;
    cursor: pointer;
}
.content .overall span {
    display: block;
    margin-left: 4px;
    font-size: 13px;
    text-decoration: underline;
}


