body {
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    color: #0F1111;
    line-height: 1.35;
}

body > header {
    display: block;
    width: 100%;
    height: 43px;
    background-color: rgb(19,25,33);
}

body > footer {
    display: block;
    width: 100%;
    height: 40px;
    background-color: rgb(19,25,33);
}

.padded {
    padding-left: 14px;
    padding-right: 14px;
}

h1 {
    font-size: 24px;
    color: rgb(17,17,17);
}

/* h1 + div { */
/*     font-size: 15px; */
/*     color: rgb(85,85,85); */
/* } */

/* div#shop-by-category { */
/*     text-align: center; */
/*     margin-top: 25px; */
/*     font-size: 15px; */
/* } */

sup {
    color: rgb(150,150,150);
    font-size: 75%;
}

/* ul#category { */
/*     list-style-type: none; */
/*     padding-inline-start: 20px; */
/* } */
/*  */
/* a { */
/*     color: rgb(0, 102, 192); */
/*     text-decoration: none; */
/* } */
/*  */
/* ul#category li { */
/*     margin-top: 12px; */
/* } */

/* #back { */
/*     display: flex; */
/*     align-items: center; */
/*     height: 44px; */
/*     background-color: rgba(0,0,0,.03); */
/*     border-bottom: .1rem solid rgba(0,0,0,.05); */
/*     box-shadow: 0 0.1rem 0 rgba(0,0,0,.03) inset, 0 0.1rem 0 rgba(255,255,255,.3); */
/*     padding-left: 12px; */
/* } */
/*  */
/* #back .icon { */
/*     background-image: url(/static/icons.png); */
/*     width: 9px; */
/*     height: 11px; */
/*     background-position: -88px -86px; */
/*     opacity: .64; */
/*     background-size: 400px 900px; */
/*     background-repeat: no-repeat; */
/* } */
/*  */
/* #back .title { */
/*     margin-left: 4px; */
/*     font-size: 13px; */
/*     font-weight: 700; */
/*     color: #111; */
/* } */


/* input { */
/*     display: none; */
/* } */
/* fieldset { */
/*     margin-inline-start: 0; */
/*     margin-inline-end: 0; */
/*     padding-block-start: 0; */
/*     padding-block-end: 0; */
/*     padding-inline-start: 0; */
/*     padding-inline-end: 0; */
/*     padding-inline-end: 0; */
/*     min-inline-size: 100%; */
/*     border: none; */
/* } */
/* #open-filter-radio:checked ~ header { */
/*     display: none; */
/* } */
/* #open-filter-radio:checked ~ h1 { */
/*     display: none; */
/* } */
/*  */
/* #open-filter-radio:checked ~ #filter-header > .filter-button.down { */
/*     display: none; */
/* } */
/*  */
/* #open-filter-radio ~ #filter-header > .filter-button.up { */
/*     display: none; */
/* } */
/*  */
/* #open-filter-radio:checked ~ #filter-header > .filter-button.up { */
/*     display: flex; */
/* } */
/*  */
/* #open-filter-radio ~  #filter-content { */
/*     display: none; */
/* } */
/*  */
/* #open-filter-radio:checked ~ #filter-content { */
/*     display: block; */
/* } */

#filter-button {
    /* width: 100px; */
    cursor: pointer;
    flex-grow: 0 !important;
    background-color: #fef8f2;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: .5px solid #e77600;
    border-radius: 7px;
    padding: 9px;
    margin: 0 8px;
    box-sizing: border-box;
    color: rgb(15, 17, 17);
    text-size-adjust: 100%;
    /* font-size: 13px; */
}

.colored {
    color: rgb(196, 85, 0);
}
#filter-button .colored {
    margin-left: 4px;
}

.icon-triangle {
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
}

.icon-triangle.down {
    border-top-color: #000;
    /* border-color: #000 transparent transparent; */
    margin-left: 8px;
    margin-top: 4px;
}

.icon-triangle.up {
    /* border-color: transparent transparent #000; */
    border-bottom-color: #000;
    margin-left: 8px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.filter-section {
    padding-top: 20px;
    border-top: 1px solid #e7e7e7;
}

.filter-section ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 0px;
}

.filter-section ul > li {
    margin-left: 10px;
}

.filter-section ul > li > label {
    cursor: pointer;
    width: auto;
    min-width: 44px;
    border: .1rem solid #ddd;
    border-radius: 7px;
    padding: 4px 9px 7px;
    margin-bottom: 6px;
    text-align: center;
    display: inline-block;
    color: #0f1111;
    font-size: 13px;
}

label {
    cursor: pointer;
}
.header label {
    font-size: smaller;
    color: rgb(0, 102, 192);
}

#show-more-cat ~ ul li.more {
    display: none;
}
#show-more-cat:checked ~ ul li.more {
    display: block;
}
#show-more-cat:checked ~ .header span.more {
    display: none;
}
#show-more-cat ~ .header span.less {
    display: none;
}
#show-more-cat:checked ~ .header span.less {
    display: inline;
}

/* #show-more-brand ~ ul li.more { */
/*     display: none; */
/* } */
/* #show-more-brand:checked ~ ul li.more { */
/*     display: block; */
/* } */
#show-more-brand:checked ~ .header span.more {
    display: none;
}
#show-more-brand ~ .header span.less {
    display: none;
}
#show-more-brand:checked ~ .header span.less {
    display: inline;
}
