<!doctype html>
<title>{{cat.name}}</title>
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Amazing.com: Grocery & Gouurmet Food</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"></style>
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, initial-scale=1, user-scalable=no, shrink-to-fit=no">
</head>

<body>

<header>
</header>

<a id="back" href="/">
    <div class="icon"></div><div class="title">Grocery &amp; Gourmet Food</div>
</a>

<h1 class="padded">{{cat.name}}</h1>

<div id="filter-block" class="padded">
    <div>Found {{ cat.filter.found() }} results</div> 
    <a id="filter-button" href="/filter{{cat.filter.as_str()}}">
        <div>Filters</div>
        {% if cat.filter.count() > 0 %}
            <div class="colored">({{cat.filter.count()}})</div>
        {% endif %}
        <div class="icon-triangle-down"></div>
    </a>
</div>
<!-- <a href="/">Back</a> -->
<!-- <h1>{{cat.name}}</h1> -->
<!-- HERE WE ARE -->

<footer>
        
</footer>

<!-- {% for item in list_items %} -->
<!-- <!&#45;&#45; https://stackoverflow.com/questions/58142293/fetching&#38;#45;amazon&#38;#45;product&#38;#45;image&#38;#45;by&#38;#45;asin &#45;&#45;> -->
<!-- <div> -->
<!--     <h2>{{ item.title }}</h2> -->
<!--     <!&#45;&#45; <img src="https://ws&#38;#45;na.amazon&#38;#45;adsystem.com/widgets/q?_encoding=UTF8&#38;#38;MarketPlace=US&#38;#38;ASIN={{ item.asin }}&#38;#38;ServiceVersion=20070822&#38;#38;ID=AsinImage&#38;#38;WS=1&#38;#38;Format=SL250"></img> &#45;&#45;> -->
<!--     <img src="https://ws&#45;eu.amazon&#45;adsystem.com/widgets/q?_encoding=UTF8&#38;MarketPlace=GB&#38;ASIN={{ item.asin }}&#38;ServiceVersion=20070822&#38;ID=AsinImage&#38;WS=1&#38;Format=SL250"></img> -->
<!--  -->
<!-- </div> -->
<!-- <!&#45;&#45; <li><a href="/main_cat/{{main_cat}}">{{ main_cat }}</a></li> &#45;&#45;> -->
<!-- {% endfor %} -->
</body>

</html>

