<section>
    <header>Sort by</header>
    <ul onclick="ulClick(event)"
        data-name='sort' 
        data-data='{{ filter.list_sort() | tojson }}'
        {% if filter._selected_sort is not none %}
        data-selected='{{ filter._selected_sort | tojson }}'
        {% endif %}
    >
    </ul>
</section>

<section>
    <header>Prices</header>
    <ul 
        onclick="ulClick(event)" 
        data-data='{{ filter.list_price() | tojson }}'
        data-type="multi"
        data-all="All Prices"
        data-name='price' 
        {% if filter._selected_list_price is not none %}
        data-selected='{{ filter._selected_list_price | tojson }}'
        {% endif %}
    ></ul>
</section>

<section>
    <header>Category <sup>{{ filter.list_cat_len() }}<sup></header>
    <ul 
        onclick="ulClick(event)" 
        data-name='cat' 
        data-type="multi"
        data-height-max='0.5'
        {% if filter._selected_list_cat is not none %}
        data-selected='{{ filter._selected_list_cat | tojson }}'
        {% endif %}
        data-all="All Categories"
        data-data='{{ filter.list_cat() | tojson }}'
    ></ul>
</section>

<section>
    <header>Brand <sup>{{ filter.list_brand_len() }}<sup></header>
    <ul 
        onclick="ulClick(event)" 
        data-data='{{ filter.list_brand() | tojson }}'
        data-height-max='1'
        data-type="multi"
        data-all="All Brands"
        data-name='brand' 
        {% if filter._selected_list_brand is not none %}
        data-selected='{{ filter._selected_list_brand | tojson }}'
        {% endif %}
    ></ul>
</section>
