<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Amazing.com: Grocery &amp; Gourmet Food</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <script src="/static/filter.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/filter.css">
    <link rel="stylesheet" type="text/css" href="/static/header.css">
{% if filter.is_cart %}
    <style>
        .empty { 
            text-align: center; 
            font-size: 22px;
            font-weight: 700;
        }
    </style>
{% endif %}
</head>

<body>

{% include 'header.html' %}

{% if not filter.is_cart %}
<h1 class="padded">Groceries &amp; Gourmet Food</h1>
<div id="filter" data-state="closed">
    <header class="padded">
        <div>Found {{ filter.found() }} results</div> 

        <label id="filter-button" onclick="applyFilter()">
            <div>Filters</div>
            {% if filter.count() > 0 %}
                <div class="colored">({{filter.count()}})</div>
            {% endif %}
            <div class="icon-triangle down"></div>
        </label>
    </header>

    <main>
    </main>

    <footer class="padded">
        <label onclick="clearFilter()">Clear Filters</label>
        <label onClick="applyFilter()">Done</label>
    </footer>
</div>
{% endif %}

<main>
    {% if filter.list_item() is none %}
        {% if filter.is_cart %}
            <img src="/static/empty_cart.svg"/>
            <div class="empty">Your Cart is empty</div>
        {% endif %}
    {% else %}
        <ul>
        {% for item in filter.list_item() %}
            <li class="item">
                <a href="/item/{{item.itemid}}{{filter.as_str()}}">
                    <div class="image-wrapper">

                        {% include 'image.html' %}
                    </div>
                    <div class="content">

                        <div class="title">{% include 'title.html' %}</div>

                        {% include 'stars.html' %}

                        {% if item.price is not none %}
                            <div class="price">
                                <span class="symbol">$</span>
                                <span class="whole">{{ item.price_whole }}</span>
                                <span class="fraction">{{ item.price_fraction }}</span>
                            </div>
                        {% endif %}
                        {% if item.description|length > 1 %}
                            {% if item.description|length < 100 %}
                            <div class="description">{{item.description}}</div>
                            {% else %}
                            <div class="description to-be-continue" >{{item.description|truncate(100)}}</div>
                            {% endif %}
                        {% endif %}
                    </div>
                </a>
            </li>
        {% endfor %}
        </ul>

        {% if not filter.is_cart %}
        {% if not filter.is_bof() or not filter.is_eof() %}
        <nav>
            <a 
                {% if filter.is_bof() %}
                class="disabled"
                {% else %}
                href="{{filter.as_str(start=filter.start_prev)}}"
                {% endif %}
            >← Previous</a>
            <a 
                {% if filter.is_eof() %}
                class="disabled"
                {% else %}
                href="{{filter.as_str(start=filter.start_next)}}"
                {% endif %}
            >Next →</a>
        </nav>
        {% endif %}
        {% endif %}

    {% endif %}
</main>

<footer></footer>

</body>

</html>

