{% with item = filter.item %}
<!doctype html>
<html>

<head>
    {% include 'head.html' %}
    <title>{% include 'title.html'%} :: Amazing.com: Grocery &amp; Gourmet Food</title>
    <link rel="stylesheet" type="text/css" href="/static/item.css">
</head>

<body>

{% include 'header.html' %}

<main>

    <div class="item">
        <h1>{% include 'title.html' %}</h1>

        <div class="content">

            {% include 'image.html' %}

            <div class="textual">

                <a class="overall" href="/item/{{item.itemid}}{{filter.as_str(is_review=True)}}">
                {% include 'stars.html' %}
                <span>reviews</span>
            </a>

            {% if item.price is not none %}
                <div class="price">
                    <span class="caption">Price:</span>
                    <span class="symbol">$</span
                    ><span class="whole">{{ item.price_whole }}</span
                    ><span class="dot">.</span
                    ><span class="fraction">{{ item.price_fraction }}</span>
                </div>
            {% endif %}

            {% if item.description|length > 1 %}
                <div class="description">{{item.description}}</div>
            {% endif %}

            {% if item.itemid in filter._selected_list_cart %}
                <a class="button" href="/{{filter.without_item_in_cart(item.itemid)}}#{{item.itemid}}">
                    <div class="caption">Remove from Cart</div>
                </a>
            {% else %}
                <a class="button" href="/{{filter.with_item_in_cart(item.itemid)}}#{{item.itemid}}">
                    <div class="caption">Add to Cart</div>
                </a>
            {% endif %}
            </div>
        </div>
    </div>
</main>

<footer></footer>

</body>

</html>

{% endwith %}
