<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Amazing.com: Grocery &amp; Gourmet Food</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, initial-scale=1, user-scalable=no, shrink-to-fit=no">
</head>

<body>

<header></header>
<!--  -->
<!-- <h1 class="padded">Groceries &#38;amp; Gourmet Food</h1> -->
<!-- <div id="filter" data&#45;state="closed">{% include 'filter.html' %}</div> -->
<!-- <main> -->
<!--     <ul> -->
<!--     {% for item in filter.list_item() %} -->
<!--     <li class="item"> -->
<!--         <div class="image&#45;wrapper"> -->
<!--             <img src="https://ws&#45;na.amazon&#45;adsystem.com/widgets/q?_encoding=UTF8&#38;MarketPlace=US&#38;ASIN={{item.asin}}&#38;ServiceVersion=20070822&#38;ID=AsinImage&#38;WS=1&#38;Format=SL250" alt="{{item.title}}"/> -->
<!--         </div> -->
<!--         <div class="content"> -->
<!--             <div class="title">{{item.title}}</div> -->
<!--             {% if item.price is not none %} -->
<!--                 <div class="price"> -->
<!--                     <span class="symbol">$</span> -->
<!--                     <span class="whole">{{ item.price_whole }}</span> -->
<!--                     <span class="fraction">{{ item.price_fraction }}</span> -->
<!--                 </div> -->
<!--             {% endif %} -->
<!--         </div> -->
<!--     </li> -->
<!--     {% endfor %} -->
<!--     </ul> -->
<!-- </main> -->
<!--  -->
<footer></footer>

</body>

</html>

